<div class="row">
    <div class="col-lg-12">
        <div class="page-header page-header-title">
            <h1><?php echo $this->title; ?></h1>
            <div class="page-header-buttons">
                <a href="/interface/index" class="btn btn-warning">Назад</a>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
	    <ul class="nav nav-tabs nav-justified" data-tabs="tabs">
	        <li class="active"><a href="#main_tab" data-toggle="tab">Описание</a></li>
	        <li><a href="#supplier_tab" data-toggle="tab">Поставщики</a></li>
	        <li><a href="#category_tab" data-toggle="tab">Категории</a></li>
	        <li><a href="#attribute_tab" data-toggle="tab">Атрибуты</a></li>
	        <li><a href="#attr_value_tab" data-toggle="tab">Значения атрибутов</a></li>
	    </ul>
	    <?php echo $this->form; ?>
	</div>
</div>

<script type='text/javascript'>
    var interfaceId = <?php echo $this->id ?>;
</script>

