.grid table {
	width:100%;
	border-collapse:collapse;
	border:1px solid #CBD3D4;
}
.grid table tr td {
	border: 1px solid #DADFE0;
	background: white;
	padding:5px;
	color: #000;
}
/*
.grid table tr.alt td {
	background:#F6F6F6;
}
*/
.grid table tr th {
	border-color: #D7D7D7 #D7D7D7 #999;
	border-style: solid;
	border-width: 1px;
	font-weight: bold;
	padding: 5px;
	background: none repeat scroll 0 0 #F7F7F0;
}
.grid table tr th a {
	text-decoration: none;
	color: #4C6EAF;
}

.grid table tr th p {
	text-decoration: none;
	color: #4C6EAF;
}

.grid .view-table {
	padding:10px;
	margin: 15px 0;
}

.grid table tr td input[type="text"] {
	background: none repeat scroll 0 0 white;
	border-color: #AAA #C8C8C8 #C8C8C8 #AAA;
	border-style: solid;
	border-width: 1px;
	font-family: tahoma,sans-serif;
	padding: 0.2em 0.3em;
}
.grid table tr.filters td {
	background: #E3EFF1;
}
.grid table tr td.noRecords {
	text-align:center;
}
.massActions span.massSelect {
	float:left;
	padding:5px 2px;
}
.massActions .gridMassActionContainer {
	float:right;
}
.grid table tr.highlight td {
	background: #E2E2EB;
	border: 1px solid #C7CBCC;
}
.grid table tr.row {
	cursor:pointer;
}
.grid table tr.status_new td {
	background:#E8E9F4;
}
.grid table tr.hovered td {
	background: #F2F298;
	cursor:pointer;
}
.grid table.remnant tr td {
	padding: 7px;
}
.pointer {
	cursor:pointer;
}
span.grid_currency {
	display: inline;
}
.grid table tr.selected_row td {
	background:#E8E9F4;
}

.clearfix:after {
	content: '';
	clear: both;
	display: table;
}