body {
	font-family:Arial, sans-serif;
	font-size:13px;
}
textarea {
    resize: none;
}
.inline-select {
    display:inline;
    width:auto;
}
.massActions span.massSelect {
    float: left;
    padding: 5px 2px;
}
.massActions .gridMassActionContainer {
    float: right;
}
.alt, .table tbody tr:nth-child(2n-1) {
    background-color: rgba(0, 0, 0, 0.06);
}
.grid tbody td span.label {
	display: block;
    padding: 4px;
    font-size: 12px;
}
.page-header-buttons {
    float: right;
    margin-top: -35px;
}
.page-header-buttons a {
    margin: 0 10px;
}
.messages {
    margin-top: 10px;
}
.panel-heading label {
    font-weight: 400;
}
#attrib-panel {
    max-height: 383px;
    overflow-x: auto;
}
h1 {
	font-size: 30px;
}
.btn {
	font-size:13px;
}
#page-wrapper {
	overflow:hidden;
}
#attrib-panel .list-group-item {
	padding: 5px 10px;
    border: 1px solid #ccc;
    overflow: hidden;
}
#attrib-panel .list-group-item:hover {
	background-color: #F3F3F3;
}
#attrib-panel .list-group-item label {
	text-align: left;
	float: left;
    width: 40%;
    font-weight: normal;
    overflow: hidden;
}
#attrib-panel .list-group-item select,
#attrib-panel .list-group-item input,
#attrib-panel .list-group-item .list-group-wrapper {
	float: left;
    width: 60%;
}
#attrib-panel .list-group-item .list-group-wrapper input {
	width:auto;
}
#media-panel .thumb-image {
	width:100px;
}
#media-panel td {
    text-align: left;
}
.mce-panel {
	border-radius: 3px;
}
.thumb-image {
    width: 100px;
}
#interface .table {
    margin-top: 35px;
    display: inline-table;
}
#interface .tab-pane {
    width: 100%;
    margin: 20px auto;
}
.ajax-loader {
    display: none;
}
.revision-item {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-left: 0;
}
.revision-item:hover {
	background:#f8f8f8;
}
.revision-item .panel-body {
    padding: 10px 0;
}
.revision-item .form-group {
	margin-bottom: 5px;
    overflow: hidden;
}
.revision-item .description-group .col-lg-1 {
	padding-top:0;
}
.revision-item  .image-group .panel-body {
	padding: 15px;
}
.revision-item  .col-lg-11 label {
	padding-left:0;
}
.revision-item  .col-lg-1 {
	padding: 20px 0 0;
}
.revision-item  .image-group input[type=checkbox]{
	margin-left: 20px;
}

#revision-header.fixed{
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    z-index: 10;
    background: rgba(238, 238, 238, 0.85);
    padding: 20px;
    padding-left: 32px;
    border-bottom: 1px solid #ccc;
}

.main-group, .attribute-group {
    min-height: 500px;
}
#donut_single {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

#date-period {
    display: none;
}
#date-period input {
    display: inline-block;
    width: 100px;
    height: 23px;
    padding: 3px 12px;
}
label.error {display:none!important;}
input.error {
    background: #FCD7D7 none repeat scroll 0 50%;
    border: 1px solid #E79898;
}
