<div class="panel panel-info">

    <script type="text/javascript">
    	  var donutChartParams = {
    	  	'arc': <?php echo $this->accepted_revision_count; ?>,
    	  	'prc': <?php echo $this->pending_revision_count; ?>
    	  };
       	  google.load("visualization", "1.0", {packages:["corechart"]});
	      google.setOnLoadCallback(drawDonutChart);
	      function drawDonutChart()
	      {
	        var data = google.visualization.arrayToDataTable([
	          ['Effort', 'Amount given'],
	          ['Всего выполнено', donutChartParams.arc],
	          ['Осталось', donutChartParams.prc],
	        ]);
	        
	        var options = {
	          pieHole: 0.4,
	          pieSliceTextStyle: {
	            color: 'white'
	          },
	          legend: 'none'
	        };
	        var chart = new google.visualization.PieChart(document.getElementById('donut_single'));
	        chart.draw(data, options);
	      }
    </script>
    <div class="panel-heading">
        <i class="fa fa-pie-chart fa-fw"></i> Прогресс модерации
    </div>
    <div class="panel-body">
        <div id="donut_single"></div>
        <a href="/catalog/product/index/statusgrid/completed/usernamegrid/<?php echo $this->id; ?>/" class="btn btn-info btn-block" target="_blank">Промодерированные товары</a>
    </div>
</div>