<div class="row">
    <div class="col-lg-12">
        <div class="page-header page-header-title">
            <h1><?php echo $this->title; ?></h1>
            <div class="page-header-buttons">
                <a href="/user/index" class="btn btn-warning">Назад</a>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-7">
        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="fa fa-tasks fa-fw"></i> Информация о пользователе

            </div>
            <div class="panel-body">
                <?php echo $this->form; ?>
            </div>
        </div>
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-5" id="donut-panel">

        <?php
            echo $this->partial('index/donut.phtml', array('accepted_revision_count' => $this->accepted_revision_count,
                'pending_revision_count' => $this->pending_revision_count,
                'id' => $this->id));
        ?>

    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->

<!-- /.row -->
<div class="row">
    <div class="col-lg-7" id="linechart-panel">

        <?php
            echo $this->partial('index/linechart.phtml', array('summary' => $this->summary,
                'periodLabel' => $this->periodLabel,
                'id' => $this->id));
        ?>

    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-5">

        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="fa fa-area-chart fa-fw"></i> Суммарная статистика

            </div>
            <div class="panel-body">

                <table  id="event-logs" class="table table-bordered" align="center" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td>Создано товаров</td>
                            <td class="create_product"><?php echo $this->total_event_logs['create_product']; ?></td>
                        </tr>
                        <tr>
                            <td>Обновлено товаров</td>
                            <td class="change_product"><?php echo $this->total_event_logs['change_product']; ?></td>
                        </tr>
                        <tr>
                            <td>Промодерировано товаров</td>
                            <td class="accept_revision"><?php echo $this->total_event_logs['accept_revision']; ?></td>
                        </tr>
                        <tr>
                            <td>Отклонено ревизий</td>
                            <td class="decline_revision"><?php echo $this->total_event_logs['decline_revision']; ?></td>
                        </tr>
                    </tbody>
                </table>

                <p class="text-center" id="revision-count">Доступно <strong><?php echo $this->total_revision_count; ?></strong> ревизий</p>

                <p class="text-center">Начислить ревизии:</p>

                <form enctype="application/x-www-form-urlencoded" method="post" class="form-horizontal" action="">

                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-8">
                                <input type="text" name="revision" id="revision" value="" required="required" class="form-control input-sm integer">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-4 col-xs-4">
                                <a class="btn btn-success btn-block" target="_blank" onclick="user.addRevision(<?php echo $this->id; ?>)">Начислить</a>
                            </div>
                        </div>

                </form>

                <p class="text-center" id="revision-message"><strong></strong></p>

            </div>
        </div>

    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
