<div class="panel panel-info">
    <script type="text/javascript">

        var lineChartData = new google.visualization.DataTable();
        lineChartData.addColumn('string', 'Период');
        lineChartData.addColumn('number', 'Промодерировано товаров');
        lineChartData.addColumn('number', 'Отклонено ревизий');
        lineChartData.addColumn('number', 'Создано товаров');
        lineChartData.addColumn('number', 'Обновлено товаров');

        lineChartData.addRows([
            <?php
             foreach ($this->summary['accept_revision'] as $label => $value) {
                echo '["' . $label . '",' . $value . ',' . $this->summary['decline_revision'][$label] . ',' . $this->summary['create_product'][$label] . ',' . $this->summary['change_product'][$label] . '],';
            }
             ?>
        ]);

        google.load('visualization', '1.0', {packages: ['line']});
        google.setOnLoadCallback(drawLineChart);

        function drawLineChart() {

            var options = {
                curveType: "function",
                width: jQuery('#linechart_material').width(),
                height: 400,
                hAxis: {
                    title: 'Период',
                    logScale: true
                },
                vAxis: {
                    title: 'Количество',
                    logScale: false
                }
            };

            var chart = new google.charts.Line(document.getElementById('linechart_material'));

            chart.draw(lineChartData, options);
        }
    </script>
    <div class="panel-heading">
        <i class="fa fa-line-chart fa-fw"></i> График событий
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    <span id="button-caret-name"><?php echo $this->periodLabel; ?></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a onclick="user.setPeriod('day', <?php echo $this->id; ?>)" href="#">За день</a></li>
                    <li><a onclick="user.setPeriod('week', <?php echo $this->id; ?>)" href="#">За неделю</a></li>
                    <li><a onclick="user.setPeriod('month', <?php echo $this->id; ?>)" href="#">За месяц</a></li>
                    <li><a onclick="user.setPeriod('year', <?php echo $this->id; ?>)" href="#">За год</a></li>
                    <li><a onclick="user.setPeriod('total', <?php echo $this->id; ?>)" href="#">За все время</a></li>
                    <li><a onclick="user.openDatepicker(<?php echo $this->id; ?>)" href="#">Интервал дат</a></li>
                </ul>
            </div>
        </div>


        <div id="date-period" class="pull-right">
            <div class="btn-group">
                <label for="start_date" class="optional">от</label>
                <input type="text" name="start_date" id="start_date" value="" class="form-control" />

                <label for="finish_date" class="optional">до</label>
                <input type="text" name="finish_date" id="finish_date" value="" class="form-control" />

                <input class="btn btn-default" onclick="user.setPeriod('datepicker', <?php echo $this->id; ?>)" type="button" name="OK" value="OK">
            </div>
        </div>


    </div>
    <div class="panel-body">
        <div id="linechart_material"></div>
    </div>
</div>