
<?php if (!empty($this->revision['attributes']) && is_array($this->revision['attributes'])) :?>
    <?php foreach ($this->revision['attributes'] as $key => $attribute) : ?>
        <div class="form-group">
            <div class="col-lg-11">
                <label for="attribute-<?php echo $this->revision['id'] . '-' . $attribute['attribute_id']; ?>" class="control-label col-lg-12"><?php echo $attribute['name']; ?></label>

                <?php switch ($attribute['type']) {
                    case 'select' : ?>
                        <input type="hidden" name="attribute[<?php echo $this->revision['id']; ?>][<?php echo $key; ?>][id]" value="<?php echo $attribute['attribute_id']; ?>">
                        <select name="attribute[<?php echo $this->revision['id']; ?>][<?php echo $key; ?>][value]" id="attribute-<?php echo $this->revision['id'] . '-' . $attribute['attribute_id']; ?>" class="form-control input-sm">
                            <option value="">-Выбрать значение</option>
                            <?php foreach ($attribute['values'] as $id => $value) : ?>
                                <option value="<?php echo $id; ?>" <?php echo (isset($attribute['value']) && $attribute['value'] == $id) ? 'selected="selected"' : ''; ?>><?php echo $value; ?></option>
                            <?php endforeach; ?>
                        </select>
                        <?php  break; ?>

                    <?php case 'multiselect' : ?>
                        <?php
                        if (isset($attribute['value'])) {
                            $attribute['value'] = is_array($attribute['value']) ? $attribute['value'] : (array) $attribute['value'];
                        } ?>
                        <input type="hidden" name="attribute[<?php echo $this->revision['id']; ?>][<?php echo $key; ?>][id]" value="<?php echo $attribute['attribute_id']; ?>">
                        <select name="attribute[<?php echo $this->revision['id']; ?>][<?php echo $key; ?>][value][]" multiple="multiple" size="3" id="attribute-<?php echo $this->revision['id'] . '-' . $attribute['attribute_id']; ?>" class="form-control input-sm">
                            <?php foreach ($attribute['values'] as $id => $value) : ?>
                                <option value="<?php echo $id; ?>" <?php echo (isset($attribute['value']) && in_array($id, $attribute['value']) == true) ? 'selected="selected"' : ''; ?> ><?php echo $value; ?></option>
                            <?php endforeach; ?>
                        </select>
                        <?php  break; ?>

                    <?php case 'boolean' : ?>
                        <input type="hidden" name="attribute[<?php echo $this->revision['id']; ?>][<?php echo $key; ?>][id]" value="<?php echo $attribute['attribute_id']; ?>">
                        <select name="attribute[<?php echo $this->revision['id']; ?>][<?php echo $key; ?>][value]" id="attribute-<?php echo $this->revision['id'] . '-' . $attribute['attribute_id']; ?>" class="form-control input-sm">
                            <option value="">-Выбрать значение</option>
                            <option value="1" <?php echo (isset($attribute['value']) && $attribute['value'][0] == 1) ? 'selected' : ''; ?>> Да </option>
                            <option value="0" <?php echo (isset($attribute['value']) && $attribute['value'][0] == 0) ? 'selected' : ''; ?>> Нет </option>
                        </select>

                        <?php  break; ?>

                    <?php case 'text' : ?>
                        <input type="hidden" name="attribute[<?php echo $this->revision['id']; ?>][<?php echo $key; ?>][id]" value="<?php echo $attribute['attribute_id']; ?>">
                        <input type="text" name="attribute[<?php echo $this->revision['id']; ?>][<?php echo $key; ?>][value]"  value="<?php echo (isset($attribute['value'])) ? $this->escape($attribute['value']) : ''; ?>" id="attribute-<?php echo $this->revision['id'] . '-' . $attribute['attribute_id']; ?>" class="form-control input-sm">
                        <?php  break; ?>

                    <?php } ?>
            </div>
            <div class="col-lg-1">
                <input type="checkbox" name="attribute[<?php echo $this->revision['id']; ?>][<?php echo $key; ?>][checked]" id="attribute-<?php echo $this->revision['id'] . $attribute['attribute_id']; ?>" checked>
            </div>
        </div>

    <?php endforeach; ?>
<?php else: ?>
    <script>
        jQuery(document).ready(function(){
            jQuery('#set_id').change();
        });
    </script>
<?php endif; ?>