<div class="row">
    <div class="col-lg-12">
        <div class="page-header page-header-title">
            <h1><?php echo $this->title; ?></h1>
        </div>
    </div>
</div>
<div id="revision-content">
</div>



