<?php

$quantity = count($this->data);
$columns = 12/$quantity;
?>

<form enctype="application/x-www-form-urlencoded" method="post" class="form-search" action="">

    <div id="revision-header">

        <div class="row">
            <div class="col-lg-6">
                <p class="text-left"><strong>Товар:</strong> <a href="/catalog/product/edit/id/<?php echo $this->data[0]['product_id']; ?>"><?php echo $this->data[0]['product_name']; ?></a></p>
                <p class="text-left"><strong>Код:</strong> <?php echo $this->data[0]['product_code']; ?></p>
            </div>
            <div class="col-lg-6" style="text-align: right;">
                <div class="form-group">
                    <div class="ajax-loader"><img src='/public/img/ajax-loader.gif'></div>
                    <a type="button" id="submit" onclick="revision.submitForm(this);" class="btn btn-success"><i class="fa fa-check"></i> Утвердить</a>
                    <a type="button" id="cancel" onclick="revision.cancelForm(this);" class="btn btn-danger"><i class="fa fa-ban"></i> Отклонить</a>
                </div>
            </div>
        </div>
        <div class="row">
            <?php for ($num = 0; $num < $quantity; $num++) { ?>

                <div class="col-lg-<?php echo $columns; ?>">
                    <p class="text-left">Интерфейс: <strong><?php echo $this->data[$num]['interface_name']; ?></strong><?php if ($this->data[$num]['request_url']) : ?>&nbsp;&nbsp;<a href="<?php echo $this->data[$num]['request_url']; ?>" target="_blank">Перейти к источнику</a><?php endif; ?></p>
                    <p class="text-left">Дата загрузки: <strong><?php echo date('d.m.Y H:i:s', strtotime($this->data[$num]['created_date'])); ?></strong></p>
                </div>

            <?php } ?>
        </div>

    </div>

    <div class="row revisions">
        <input type="hidden" id="product_id" name="product_id" value="<?php echo $this->data[0]['product_id']; ?>">
        <?php
        for ($num = 0; $num < $quantity; $num++) { ?>

            <div class="col-lg-<?php echo $columns; ?>">

                <div class="row revision-item">

                    <div class="col-lg-12 main-group">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <i class="fa fa-tasks fa-fw"></i> Описание
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <input type="hidden" class="revision_id" name="[<?php echo $this->data[$num]['id']; ?>][id]" value="<?php echo $this->data[$num]['id']; ?>">

                                    <div class="col-lg-11">
                                        <label for="name-<?php echo $this->data[$num]['id']; ?>" class="control-label col-lg-12">Наименование:</label>
                                        <input type="text" name="name[<?php echo $this->data[$num]['id']; ?>][value]" id="name-<?php echo $this->data[$num]['id']; ?>" value="<?php echo $this->escape($this->data[$num]['name']); ?>" class="form-control input-sm">
                                    </div>
                                    <div class="col-lg-1">
                                        <input type="radio" name="name[checked]" value="<?php echo $this->data[$num]['id']; ?>">
                                    </div>
                                </div>
                                <div class="form-group price-group">
                                    <div class="col-lg-11">
                                        <label for="price-<?php echo $this->data[$num]['id']; ?>" class="control-label col-lg-12">Цена:</label>
                                        <input type="text" name="price[<?php echo $this->data[$num]['id']; ?>][value]" id="price-<?php echo $this->data[$num]['id']; ?>" value="<?php echo $this->escape($this->data[$num]['price']); ?>" class="form-control input-sm">
                                    </div>
                                    <div class="col-lg-1">
                                        <input type="radio" name="price[checked]" value="<?php echo $this->data[$num]['id']; ?>">
                                    </div>
                                </div>
                                <div class="form-group weight-group">
                                    <div class="col-lg-11">
                                        <label for="weight-<?php echo $this->data[$num]['id']; ?>" class="control-label col-lg-12">Вес:</label>
                                        <input type="text" name="weight[<?php echo $this->data[$num]['id']; ?>][value]" id="weight-<?php echo $this->data[$num]['id']; ?>" value="<?php echo $this->escape($this->data[$num]['weight']); ?>" class="form-control input-sm">
                                    </div>
                                    <div class="col-lg-1">
                                        <input type="radio" name="weight[checked]" value="<?php echo $this->data[$num]['id']; ?>">
                                    </div>
                                </div>
                                <div class="form-group description-group">
                                    <label for="description-<?php echo $this->data[$num]['id']; ?>" class="control-label col-lg-12">Описание:</label>
                                    <div class="col-lg-11">
                                            <textarea name="description[<?php echo $this->data[$num]['id']; ?>][value]" id="description-<?php echo $this->data[$num]['id']; ?>" class="form-control" rows="5">
                                                <?php echo $this->data[$num]['description']; ?>
                                            </textarea>
                                    </div>
                                    <div class="col-lg-1">
                                        <input type="radio" name="description[checked]" value="<?php echo $this->data[$num]['id']; ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-12">Категории:</label>
                                </div>
                                <?php if ($this->data[$num]['categories']) : ?>
                                    <?php foreach ($this->data[$num]['categories'] as $key => $category) : ?>

                                        <div class="form-group category">
                                            <div class="col-lg-11">
                                                <label for="category-<?php echo $this->data[$num]['id'] . $category['category_id']; ?>" ><?php echo $category['full_name']; ?></label>
                                                <input type="hidden" name="category[<?php echo $this->data[$num]['id']; ?>][<?php echo $key; ?>][value]"  value="<?php echo $category['category_id']; ?>">
                                            </div>
                                            <div class="col-lg-1">
                                                <input type="checkbox" name="category[<?php echo $this->data[$num]['id']; ?>][<?php echo $key; ?>][checked]" id="category-<?php echo $this->data[$num]['id'] . $category['category_id']; ?>" checked>
                                            </div>
                                        </div>

                                    <?php endforeach; ?>

                                <?php endif; ?>

                                <div class="form-auto-complete form-group">
                                    <div class="col-lg-12">
                                        <input type="text" name="auto-categ" value="" placeholder="Введите название категории..." class="auto-categ form-control ui-autocomplete-input" autocomplete="off">
                                        <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-lg-12 attribute-group">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <i class="fa fa-paperclip fa-fw"></i> Атрибуты
                            </div>

                            <div class="panel-body">

                                <div class="form-group">
                                    <div class="col-lg-11">
                                        <label for="set-<?php echo $this->data[$num]['id'] . $this->data[$num]['set_id']; ?>" class="control-label col-lg-12">Набор атрибутов</label>
                                        <select id ='set_id' name="set[<?php echo $this->data[$num]['id']; ?>][value]" onchange="revision.getAttributes(this);" class="form-control input-sm">
                                            <?php foreach ($this->data[$num]['sets'] as $id => $set) : ?>
                                                <option value="<?php echo $id; ?>" <?php echo ($this->data[$num]['set_id'] == $id) ? 'selected="selected"' : ''; ?>><?php echo $set; ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                    <div class="col-lg-1">
                                        <input type="radio" name="set[checked]" value="<?php echo $this->data[$num]['id'];?>" id="set-<?php echo $this->data[$num]['id'] . $this->data[$num]['set_id']; ?>">
                                    </div>
                                </div>
                                <div class="attribute-list">
                                    <?php
                                    echo $this->partial('revision/attributes.phtml', array('revision' => $this->data[$num]));
                                    ?>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-12 image-group">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <i class="fa fa-file-image-o fa-fw"></i> Изображения
                            </div>
                            <div class="panel-body">
                                <?php if ($this->data[$num]['media']) : ?>
                                    <?php foreach ($this->data[$num]['media'] as $key => $media) : ?>
                                        <div class="row">
                                            <div class="form-group media">
                                                <div class="col-lg-3">
                                                    <input type="checkbox" name="media[<?php echo $this->data[$num]['id']; ?>][<?php echo $key; ?>][checked]" checked>
                                                </div>
                                                <div class="col-lg-6">
                                                    <a class="fancybox-thumbs" data-fancybox-group="gallery" href="/media/product/<?php echo $media['filename']; ?>" title="<?php echo $this->data[$num]['product_name'] . '-' . $key; ?>">
                                                        <img class="thumb-image" src="/media/product/<?php echo $media['filename']; ?>">
                                                    </a>
                                                    <input type="hidden" name="media[<?php echo $this->data[$num]['id']; ?>][<?php echo $key; ?>][value]"  value="<?php echo $media['media_id']; ?>" class="form-control input-sm">
                                                </div>
                                                <div class="col-lg-3">
                                                    <input type="radio" name="media[main]" value="<?php echo $this->data[$num]['id'] . '-' . $key; ?>" <?php echo ($media['is_main'] == 1) ? 'checked' : ''; ?>>
                                                </div>
                                            </div>
                                        </div>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                                <div class="loaded-images" id="images-table-<?php echo $this->data[$num]['id']?>"></div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <div class="col-xs-4">
                                            <label for="images-<?php echo $this->data[$num]['id']?>" class="control-label col-xs-2  optional">Загрузить изображения</label>
                                        </div>
                                        <div class="col-xs-8">
                                            <button name="images" class="images" id="images-<?php echo $this->data[$num]['id']?>" type="button">Загрузить изображения</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        <?php } ?>
     </div>

</form>

<script type="text/javascript" src="/public/js/jquery-ui-1.9.1.custom.js"></script>
<script type="text/javascript">var $j = jQuery.noConflict();</script>

<script type="text/javascript">
    $j(document).ready(function() {
        $j(".auto-categ").autocomplete({"select":function(event, ui){revision.addCategory(ui.item, this);},"dataType":"json","minLength":"2","source":"\/catalog\/index\/autocomplete"});
    });
</script>