<?php echo $this->doctype(); ?>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="robots" content="noindex, nofollow">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

        <link rel="icon" href="../../favicon.ico">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <?php
            $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html;charset=utf-8');
            echo $this->headTitle();
            echo $this->headLink();
            echo $this->headStyle();?>
        <?php echo $this->jQuery()
            ->setLocalPath('/public/js/jquery-1.8.2.js')
            ->setUiLocalPath('/public/js/jquery-ui-1.9.1.custom.js')
            ->addStylesheet('/public/css/jquery-ui-1.9.1.custom.css')
            ->enable(); ?>
        <?php echo $this->headScript(); ?>
        <script>
            jQuery(document).ready(function() {
                jQuery('#user-toggle').click(function () {
                    jQuery("#user-toggle-menu").toggle("blind");
                });
            });
        </script>
    </head>
    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Sirius v 1.0</a>
                </div>
                <!-- /.navbar-header -->

                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" id="user-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user" id="user-toggle-menu">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> Профиль</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Настройки</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="/auth/index/logout"><i class="fa fa-sign-out fa-fw"></i> Выйти</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Поиск...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                                </div>
                                <!-- /input-group -->
                            </li>

                            <li>
                                <a href="/"><i class="fa fa-dashboard fa-fw"></i> Панель управления</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-plus fa-fw"></i> Управление товарами<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="/catalog/product" <?php echo ('catalog/product' == $this->path) ? 'class="active"' : ''; ?>>Товары</a>
                                    </li>
                                    <li>
                                        <a href="/catalog/revision" <?php echo ('catalog/revision' == $this->path) ? 'class="active"' : ''; ?>>Ревизии</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
								<a href="/catalog/index" <?php echo ('catalog/index' == $this->path) ? 'class="active"' : ''; ?>><i class="fa fa-list fa-fw"></i> Управление категориями</a>
                            </li>
                            <?php if ($this->user->role != 'editor') : ?>
                            <li>
                                <a href="#"><i class="fa fa-paperclip fa-fw"></i> Управление атрибутами<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="/attribute/index" <?php echo ('attribute/index' == $this->path) ? 'class="active"' : ''; ?>>Атрибуты</a>
                                    </li>
                                    <li>
                                        <a href="/attribute/set" <?php echo ('attribute/set' == $this->path) ? 'class="active"' : ''; ?>>Наборы атрибутов</a>
                                    </li>
                                    <li>
                                        <a href="/attribute/set-category" <?php echo ('attribute/set-category' == $this->path) ? 'class="active"' : ''; ?>>Категории набора атрибутов</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="/interface/index" <?php echo ('interface/index' == $this->path) ? 'class="active"' : ''; ?>><i class="fa fa-plus fa-cubes"></i> Управление интерфейсами</a>
                            </li>
                            <li>
                                <a href="/reference/supplier" <?php echo ('reference/supplier' == $this->path) ? 'class="active"' : ''; ?>><i class="fa fa-user fa-fw"></i> Поставщики</a>
                            </li>
                            <li>
                                <a href="/system/indexer" <?php echo ('system/indexer' == $this->path) ? 'class="active"' : ''; ?>><i class="fa fa-refresh fa-fw"></i> Индексы</a>
                            </li>

                            <li>
                                <a href="/user/index" <?php echo ('user/index' == $this->path) ? 'class="active"' : ''; ?>><i class="fa fa-child fa-fw"></i> Пользователи</a>
                            </li>

                            <li>
                                <a href="/system/config" <?php echo ('system/config' == $this->path) ? 'class="active"' : ''; ?>><i class="fa fa-cog fa-fw"></i> Настройки</a>
                            </li>
							<?php endif; ?>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <div id="page-wrapper">
            <?php
            $flashMessenger = Zend_Controller_Action_HelperBroker::getExistingHelper('FlashMessenger');
            $messages = $flashMessenger->getMessages();
            $flashMessenger->clearCurrentMessages();
            ?>
            <?php if ($messages) : ?>
                <div class="messages">
                    <?php foreach ($messages as $message) : ?>
                        <?php $alertType = str_replace('error', 'danger', key($message)) ; ?>
                        <?php $alertTitle = ('success' == $alertType) ? 'Выполнено!' : 'Ошибка!' ; ?>
                        <div class="alert alert-<?php echo $alertType; ?>" role="alert"><strong><?php echo $alertTitle; ?></strong> <?php echo array_shift($message); ?></div>
                    <?php endforeach; ?>
                </div>
            <?php endif; ?>
            <?php echo $this->layout()->content; ?>

            </div>


        </div>
    </body>
</html>