<div class="row">
    <div class="col-lg-12">
        <div class="page-header page-header-title">
            <h1><?php echo $this->title; ?></h1>
            <div class="page-header-buttons">
            	<a href="/catalog/product/delete/id/<?php echo $this->id; ?>" class="btn btn-danger">Удалить</a>
                <a href="/catalog/product" class="btn btn-warning">Назад</a>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <?php echo $this->form; ?>
</div>

<script type='text/javascript'>
    var productId = <?php echo $this->id ?>;
</script>
