<div class="row">
    <div class="col-lg-12">
        <div class="page-header page-header-title">
            <h1><?php echo $this->title; ?></h1>
            <div class="page-header-buttons">
                <a href="/system/config/add" class="btn btn-success">Добавить конфигурацию</a>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <?php echo $this->grid; ?>
        </div>
    </div>
</div>