<div class="row">
    <div class="col-lg-12">
        <div class="page-header page-header-title">
            <h1><?php echo $this->title; ?></h1>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
	<div class="col-lg-12">
	    <table class="table">
	        <thead>
	            <tr>
	                <th>Сущность</th>
	                <th>Импортировать</th>
	                <th>Последнее обновление</th>
	            </tr>
	        </thead>
	        <tbody>
	        <?php foreach ($this->indices as $index) : ?>
	            <tr id="update-<?php echo $index['code']; ?>">
	                <td><?php echo $index['name']; ?></td>
	                <td>
	                    <input type="hidden" id="<?php echo $index['code']; ?>" value="<?php echo $index['id']; ?>">
	                    <div class="ajax-loader"><img src='/public/img/ajax-loader.gif'></div>
	                    <input type="button" value="Обновить" onclick="indices.update('<?php echo $index['code']; ?>');" class="btn btn-success btn-sm">
	                </td>
	                <td id="date-<?php echo $index['code']; ?>"><?php echo $index['last_update']; ?></td>
	            </tr>
	        <?php endforeach; ?>
	        </tbody>
	    </table>
	</div>
</div>
<form enctype="application/x-www-form-urlencoded" method="post" class="form-search" action="">
    <div class="row">
        <div class="col-lg-4" id="set-index">
            <div class="form-group">

                <select name="set" id="set_id" class="form-control input-sm" onchange="indices.loadAttributes();">
                    <?php foreach ($this->sets as $id => $set) : ?>
                        <option value="<?php echo $id; ?>"><?php echo $set; ?></option>
                    <?php endforeach; ?>
                </select>

            </div>
        </div>
        <div class="col-lg-4" id="attribute_div"></div>
        <div class="col-lg-4">
            <div class="form-group">
                <div class="ajax-loader"><img src='/public/img/ajax-loader.gif'></div>
                <input type="button" value="Обновить" onclick="indices.submitForm(this);" class="btn btn-primary btn-sm">
            </div>
        </div>
    </div>
</form>