<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><?php echo $this->title; ?></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <?php echo $this->grid; ?>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>